@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');
body {

  margin: 0;
  font-family:  Poppins;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
 
}

.headerContainer{
  background: #D9D8DA;
}
.dashboard{
  background: #D9D8DA;
}

.slider{
  width: 250px;
}
